haazir-backend/n8n-workflows/receive-whatsapp.json
{
  "name": "Haazir AI — Receive WhatsApp Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "waha-webhook",
      "name": "WAHA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "operation": "equals",
              "value2": "message"
            }
          ]
        }
      },
      "id": "filter-messages",
      "name": "Filter Messages Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/webhooks/whatsapp-incoming",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $json.body.payload.from.replace('@c.us', ''), text: $json.body.payload.body, timestamp: $json.body.payload.timestamp, messageId: $json.body.payload.id }) }}",
        "options": {}
      },
      "id": "forward-to-backend",
      "name": "Forward to Haazir Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 250]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Ignore Non-Messages",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 400]
    }
  ],
  "connections": {
    "WAHA Webhook": {
      "main": [
        [
          {
            "node": "Filter Messages Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages Only": {
      "main": [
        [
          {
            "node": "Forward to Haazir Backend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Haazir AI"
    }
  ]
}
